WebApplication2/WebApplication2/Connected Services/SupServiceReference1/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="qty" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getPriceResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateQuantity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="qty" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateQuantityResponse">
        <s:complexType />
      </s:element>
      <s:element name="placeOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="des" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="add" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="placeOrderResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getPriceSoapIn">
    <wsdl:part name="parameters" element="tns:getPrice" />
  </wsdl:message>
  <wsdl:message name="getPriceSoapOut">
    <wsdl:part name="parameters" element="tns:getPriceResponse" />
  </wsdl:message>
  <wsdl:message name="updateQuantitySoapIn">
    <wsdl:part name="parameters" element="tns:updateQuantity" />
  </wsdl:message>
  <wsdl:message name="updateQuantitySoapOut">
    <wsdl:part name="parameters" element="tns:updateQuantityResponse" />
  </wsdl:message>
  <wsdl:message name="placeOrderSoapIn">
    <wsdl:part name="parameters" element="tns:placeOrder" />
  </wsdl:message>
  <wsdl:message name="placeOrderSoapOut">
    <wsdl:part name="parameters" element="tns:placeOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="getPrice">
      <wsdl:input message="tns:getPriceSoapIn" />
      <wsdl:output message="tns:getPriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateQuantity">
      <wsdl:input message="tns:updateQuantitySoapIn" />
      <wsdl:output message="tns:updateQuantitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="placeOrder">
      <wsdl:input message="tns:placeOrderSoapIn" />
      <wsdl:output message="tns:placeOrderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPrice">
      <soap:operation soapAction="http://tempuri.org/getPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateQuantity">
      <soap:operation soapAction="http://tempuri.org/updateQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="placeOrder">
      <soap:operation soapAction="http://tempuri.org/placeOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPrice">
      <soap12:operation soapAction="http://tempuri.org/getPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateQuantity">
      <soap12:operation soapAction="http://tempuri.org/updateQuantity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="placeOrder">
      <soap12:operation soapAction="http://tempuri.org/placeOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="https://localhost:44341/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="https://localhost:44341/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>